:root {
  --color-primary: 
  --color-pale-cyan: 
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
font-family: 'Open Sans', sans-serif;
font-size: 18px;
z-index: 5;
position: relative;
}

header {
  background-image: url(https://raw.githubusercontent.com/frontendmentorio/huddle-landing-page-with-alternating-feature-blocks/f3ddf831a7905102f493a03a65b8f70e4df46211/images/bg-hero-desktop.svg);
  background-color: hsl(193, 100%, 96%);
  padding: 5%;
}

.header-top {
  display: flex;
  justify-content: space-between; 
  padding-bottom: 5%;
}

.logo {
  height: 10%;
  width: 17%;
}

.button-header-top {
  padding: 20px 60px; 
  border-style: none; 
  border-radius: 40px;
}

.header-bottom {
  display: flex; 
  align-items: center;
  gap: 6%;
}

.header-bottom-left {
  width: 50%;
}

.header-bottom-left-button, .pre-footer-button {
  background-color:hsl(322, 100%, 66%) ; 
  padding: 20px 60px; 
  border-style: none; 
  color: white;
  border-radius: 40px;
}

.header-bottom-right {
  width: 50%;
}

.header-bottom-right-img {
  width: 100%;
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: greenyellow; 
}

p {
 
 font-weight: 400;
  font-size: 18px;
  color: hsl(208, 11%, 55%);
}

main {
position: relative;
padding-bottom: 250px;
padding-top: 150px;
}

.card-1, .card-2, .card-3 {
  display: flex;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 1% 6%;
  gap: 15%;
  box-shadow: 0px 0px 29px 14px rgb(205 205 226 / 26%);
  margin-bottom: 3%;
  border-radius: 10px;
}

.card-1-section-left {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.card-1-section-right {
  width: 30%; 
}

.card-1-section-right-img {
  width: 100%;
}



.card-2-section-left {
  width: 30%;
}

.card-2-section-right {
  width: 70%; 
}

.card-2-section-left-img {
  width: 100%;
}



.card-3-section-left {
  width: 70%;
}

.card-3-section-right {
  width: 30%; 
}

.card-3-section-right-img {
  width: 100%;
}


.pre-footer {
  position: absolute;
  bottom: 27%;
  left: 20%;
  text-align: center;
  background-color: white;
  width: 50%;
  margin: auto;
  padding: 5%;
  box-shadow: 0px 0px 29px 14px rgb(205 205 226 / 11%);
  border-radius: 10px;
  z-index: 10;

} 

footer {
  background-color: hsl(192, 100%, 9%);
  color: white;
  padding: 150px 100px 100px 100px;
}

.footer-top {
  text-align: left;
}

.footer-middle {
  display: flex;
  width: 100%;
  padding-top: 3%;
  padding-bottom: 5%; 
}

.footer-middle-left-section {
  display: flex;
  flex-direction: column;
}

.footer-middle img {
  width: 15px;
  height: 5%;
}

.footer-middle-location {
  display: flex;
  width: 50%;
}

.footer-middle-phone {
  display: flex;
}

.footer-middle-mail {
  display: flex;
}

.footer-middle-right {
  display: flex;
  
}

ul {
  list-style: none;
}

.change-color {
  filter: invert(86%) sepia(1%) saturate(1617%) hue-rotate(163deg) brightness(116%) contrast(101%);
}

.footer-socials {
  display: flex;
  width: 100%;
}

.footer-socials img {
  width: 30px;
}

small {

}

@media screen and (max-width: 799px) {
  .page {
    padding: 0;
    width: 100%;
  }
}

@media screen and (max-width: 499px) {
  .page {
    background-color: purple;
    font-size: 16px;
  }
  header {
    display: flex;
    flex-direction: column;
    padding: 2%;
  }
  .header-bottom {
    display: flex;
    flex-direction: column;
  }

  .button-header-top {
    padding: 10px 60px; 
    border-style: none; 
    border-radius: 40px;
  }

.header-bottom-left, .header-bottom-right {
  width: 70%;
}

.header-bottom-left-button {
  margin: 9% 0;
}

}

@media screen and (max-width: 299px) {
  .page {
    background-color: pink;
    color: black;
  }
}






